</body>
<footer>
    <div class="container" style="font-size: 8pt">
        <div>Iconos diseñados por
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> desde
            <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> con licencia
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                target="_blank">CC 3.0 BY</a>
        </div>
        <div>Iconos diseñados por
            <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> desde
            <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> con licencia
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                target="_blank">CC 3.0 BY</a>
        </div>

    </div>

</footer>

</html>