<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Página de registro</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <script>
  window.onload = function () {
  document.formularioSaveAmb.nro.focus();
  document.formularioSaveAmba.addEventListener('submit', validarFormulario);
  }

  function validarFormulario(evObject) {
  evObject.preventDefault();
  var todoCorrecto = true;
  var formulario = documente.formularioSaveAmb;
  if (/^[0-9]\d*/.test(formulario.nro.value)==false ) {
    alert ("Habitación no valido:debe empezar con un numero");
    todoCorrecto=false;
  }

  if (todoCorrecto ==true) {formulario.submit();}
  }
  </script>

</head>
<style>
.table-tr {
  background-color:#343a40
}
.bg-4 {
    background-color: #343a40;
    color: #ffffff;
    position: absolute;
    bottom: -10;
    width: 100%;
    height: 90px;
}
.body{
  height:100%;
  }
</style>
<body>

  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 15px">
    <a class="navbar-brand" href="/">
      Control de cobranzas</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ambiente">Ambiente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contrato">Contrato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pago">Pagos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inquilino">Inquilino</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notificaciones">Notificaciones</a>
        </li>
      </ul>
    </div>
  </nav>
